.offer-formation-dialog,
.exit-candidate-dialog {
  .el-dialog__title {
    font-size: 2em;
    color: #605f5f;
  }

  .el-dialog__header {
    text-align: center;
  }

  .el-dialog__body {
    padding: 20px;
  }

  .dialog-footer {
    display: flex;
    justify-content: center;

    button {
      white-space: normal;
    }
  }
}
