%flex {
  display: flex;
}

%flex-col {
  @extend %flex;
  flex-direction: column;
}

%flex-center {
  @extend %flex;
  align-items: center;
}

%flex-center-center {
  @extend %flex-center;
  justify-content: center;
}

@mixin flexible($direction: unset, $justify: unset, $align: unset, $wrap: unset) {
  @extend %flex;
  @if $direction != unset {
    flex-direction: $direction;
  }
  @if $justify != unset {
    justify-content: $justify;
  }
  @if $align != unset {
    align-items: $align;
  }
  @if $wrap != unset {
    flex-wrap: $wrap;
  }
}
