// old colors
$TSC_MAIN_COLOR: #46647F;
$TSC_LIGHT_GREY: #F2F2F2;
// $TSC_VERY_LIGHT_GREY: #E0E0E0;
$TSC_MIDDLE_GREY: #CCCCCC;
// $TSC_SILVER: #C4C4C4;
$TSC_DARK_GREY: #888A8F;
$TSC_MOUSE_GREY: #605F5F;